<div class="athlet_suggestion">
  <div class="name"><%= athlet.name %></div>
  <div class="birthday"><%= athlet.birthday %></div>
  <div class="sex"><%= athlet.sex %></div>
  <div class="club"><%= athlet.club %></div>
</div>