/* DataTables */

div.dataTables_length label {
  white-space: nowrap;
}
.css_right {
  float: right;
}

.control-label {
  vertical-align: bottom !important;
}

.dataTables_processing {
  padding-top: 7px;
  padding-bottom: 7px;
}

.table.huge {
  th {
    font-size: 150%;
    font-weight: bold;
  }
  td {
    font-size: 150%;
  }
}