<div class="page-header">
  <h1 id="navbar">Staffel bearbeiten</h1>
</div>
<%# pp @replay %>
<%#= render 'form', :formurl => "/relays/#{@relay.relaystarter}", :formmethod => :put %>
<%= render 'form' %>
<br>
<%= link_to 'Details', relay_path(:id => @relay.relaystarter), :class => 'btn btn-default' %>
<%= link_to 'Übersicht', relays_path, :class => 'btn btn-default' %>
