<div class="page-header">
  <h1 id="navbar">Neue Staffel anmelden</h1>
</div>

<%#= render 'form',  :formurl => "/relays/new", :formmethod => :get %>
<%= render 'form' %>

<br />
<%= link_to 'Übersicht', relays_path, :class => 'btn btn-default' %>
