<%= inside_layout "application" do %>

  <%= render 'layouts/header' %>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
  </ol>
  <%= yield %>

<% end %>