<header>
  <div class="media">
    <a class="pull-left" href="#">
      <%#= image_tag('nightrun_trans_white.png', height: '72') %>
      <%= image_tag('sv_traisa_trans_white.png', height: '72') %>
    </a>
    <div class="media-body">
      <h2 class="media-heading">careNow Nightrun 2015</h2>
    </div>
  </div>

  <!-- <div style="margin-left: -0px; margin-right: -0px; padding: 10px 10px">
  <div class="headerBanner">
    <%= image_tag('nightrun_trans_white.png', :width => '80') %>
    careNow Nightrun 2014
  </div>
  </div> -->
  </header>