<header>
  <div class="media">
    <a class="pull-left" href="#">
      <%= image_tag('web_hi_res_512.png', height: '72') %>
    </a>
    <div class="media-body">
      <h1 class="media-heading" style="text-align: right">TGT & SV 1911 TRAISA</h1>
      <h2 class="media-heading" style="text-align: right">Veranstaltungsjahr 2017</h2>
    </div>
  </div>
</header>